*{margin: 0;
}
.hr { width: 50%;
height: 20px;
background-color:rgb(122,227,252);
margin:0 auto;
line-height: 300px;
margin-top: 100px;
margin-bottom: 100px;
}

.all{width:100%;
display: flex;
align-content: flex-start;
justify-content:space-between;
flex-wrap:wrap;
}

.search{width: 200px;
height: 50px;
margin: 15px;
display: flex;
justify-content:space-between;
border: solid 1px;
}

#icon{width: 50px;
height: 100%;
background-color:#7F4F21 ;
font-size: 40px;
text-align: center;
color: #fff;
}

.logo{width: 400px;
height: 300px;
background-image: url(img/logo.gif);
background-size: cover;

}
.Shoppingcartbutton{width:200px;
height: 50px;
margin: 15px;
display: flex;
justify-content:space-between;
border:1px solid;
}
#car_icon{width: 50px;	
height: 50px;
background-color:#7F4F21 ;
font-size: 40px;
text-align: center;
color: #fff;
}

#buts{width: 100%;
font-family: 微軟正黑體;
display: flex;
justify-content: space-evenly;
}
.but1 {color: rgb(190, 149, 99);
 padding:5px; 
font-size: 20px;
}
.but2 {color: rgb(190, 149, 99);
padding:5px;
font-size: 20px;
}
.but3{color: rgb(190, 149, 99);
padding:5px; 
font-size: 20px;}
.but4 {color: rgb(190, 149, 99);
padding:5px; 
font-size: 20px;}
.but5{color: rgb(190, 149, 99);
padding:5px; 
font-size: 20px;}
.but6 {color: rgb(190, 149, 99);
padding:h45px; 
font-size: 20px;}
.but7 {color: rgb(190, 149, 99);
 padding:5px; 
 font-size: 20px;}
.but8 {color: rgb(190, 149, 99);
 padding:5px;
 font-size: 20px; }


.theme_1 h1{
text-align:center;
color: rgb(127, 79, 33);
line-height: 100px;
	font-size: 50px;
	
}
.theme_photo{width: 50%;
height: 400px;
border: solid 1px;
margin: 0 auto;
background-image: url(/img/素材/首頁圖.jpg);
background-size: cover;}

.subtitle_1 h3{text-align: center;
line-height:80px;
font-size:35px;
color:rgb(190,149,99);}

ul {text-align: justify;
text-align: center;
list-style-type: none;
line-height: 60px;
font-size: 20px;	
color:rgb(122,106,86);}
	
.theme_2 h1{text-align:center;
color: rgb(127, 79, 33);
line-height: 100px;
	font-size: 50px;
	
}
.box{width: 70%;
height: 400px;
background-color:#f22;
margin: 0 auto;
	
		
}
.subtitle_2_1 {display:flex;
flex-direction:row;
justify-content: center; 

}
.subtitle_2_1 hr{ 
height:5px;
border:none;
border-top:5px ridge green;
width:10px;
}

.subtitle_2_1 h3{text-align: center;
line-height:80px;
font-size:35px;
color:rgb(190,149,99);}


.box_1{width: 50%;
height:340px;
background-color:#111;
float: left;
			
}
.photo2_1{background-image: url(/img/素材/糖果/images.jpg);
}
.box p{margin-left: 100px;}
.box_2{
width: 50%;
height:340px;
background-color:#111;
float: right;
			
}
.box h3{margin-left: 100px;}
.box span{margin-left:50px ;}
	
	
.all_00{width: 80%;height: 900px;
margin: 0 auto;
display: flex;
flex-direction: row;
flex-wrap:wrap;
justify-content: space-around;

}
.theme_3 h1{
text-align:center;color: rgb(127, 79, 33);
line-height: 100px;
font-size: 50px;

}


.product{width:30%;
height:40%;
background-color:#777;
border-radius:50% ;
overflow: hidden;

}
.pic_01{width:100%;
height:70%;
background-color:#258;
}
.pic01_under{width: 100%;
height: 30%;
background-color: #654;
display: flex;
flex-direction: row;
justify-content: center;}

.buy{width:100px;
height:50px;
color:rgb(244, 245, 247);
font-size: 40px;
text-justify: auto;
margin-top: 7px;
}
.price{width:100px;
height:50px;
color:rgb(244, 245, 247);
font-size: 40px;
margin-top: 7px;
text-justify: auto;
}



.theme_4 h1{
text-align:center;
color: rgb(127, 79, 33);
line-height: 100px;
font-size: 50px;
}

.all_11{width: 80%;height: 900px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content: space-around;
	
	}
.product_02{width:30%;
		height:40%;
		background-color:#777;
		border-radius:50% ;
		overflow: hidden;
		
		}
.pic_02{width:100%;
		height:70%;
		background-color:#258;
		}
.pic01_under{width: 100%;
		height: 30%;
		background-color: #654;
		display: flex;
		flex-direction: row;
		justify-content: center;}
		
.buy_02{width:100px;
		height:50px;
		color:rgb(244, 245, 247);
		font-size: 40px;
		text-justify: auto;
		margin-top: 7px;
		}
.price_02{width:100px;
		height:50px;
		color:rgb(244, 245, 247);
		font-size: 40px;
		margin-top: 7px;
		text-justify: auto;
		}

.theme_5 h1{text-align:center;
color: rgb(127, 79, 33);
line-height: 100px;
font-size: 50px;


}
.filmArea{width:80%;
height: 800px;
background-color:#655;
margin: 0 auto;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;

}
.filmArea .film1{width: 50%;
height:45%;
background-color:#354;
margin-top:25px ;}
.filmArea .film2{width: 50%;
height:45%;
background-color:#354;
margin-top:25px ;}
.filmArea .film3{width: 50%;
height:45%;
background-color:#354;}
.filmArea .film4{width: 50%;
height:45%;
background-color:#354;}
		
		
.theme_6 h1{text-align:center;
color: rgb(127, 79, 33);
line-height: 100px;
font-size: 50px;

}
.data{width: 80%;
height:600px;
background-color:#111;
margin: 0 auto;
}

.data .up{width: 100%;
height:50%;
background-color:#888;}

.data .under{width: 100%;
height: 50%;
background-color:#887;}

.data .up .lineqr{width:30%;
height: 100%;
background-color:#654;
float:right;}

.data .under .fbqr{width: 30%;
height: 100%;
background-color:#665;
float:right;}

.businesshours{width:80%;
height:200px;
background-color:#258;
border:solid 1px;
margin:0 auto;}

.businesshours .business{width:20%;
height:200px;
background-color:#5415;}

.theme_7 h1{text-align:center;
color: rgb(127, 79, 33);
line-height: 100px;
font-size: 50px;}

.commonproblem{width:80%;
height:200px;
background-color:#564;
display: flex;
margin:0 auto;}

.commonproblem .l{width:20%;
height:200px;
background-color:#222;}

.commonproblem .r{width: 80%;
height:200px;
background-color:#666;}

.freight{width:80%;
height:200px;
background-color:#564;
display: flex;
margin:0 auto;}

.freight .l{width:20%;
height:200px;
background-color:#222;}

.freight .r{width: 80%;
height:200px;
background-color:#666;}

.meansoftransaction{width:80%;
height:200px;
background-color:#564;
display: flex;
margin:0 auto;}

.meansoftransaction .l{width:20%;
height:200px;
background-color:#222;}

.meansoftransaction .r{width: 80%;
height:200px;
background-color:#666;}

.defect_situation{width:80%;
height:200px;
background-color:#564;
display: flex;
margin:0 auto;}

.defect_situation .l{width:20%;
height:200px;
background-color:#222;}

.defect_situation .r{width: 80%;
height:200px;
background-color:#666;}

.traffic{width: 100%;
height:500px;
background-color:#555;
position: absolute;}

.traffic .theme_7 h1{text-align:center;
color: #7F4F21;
line-height: 100px;
font-size: 50px;
}

.traffic .theme_8 h3{font-size:50px;
}

.traffic .theme_8 p{color:#1D2080;
font-size: 30px;
line-height: 50px;
}

.map{width: 40%;
height:500px;
background-color:#000;
position: relative;
float:right;}

.map span{font-size: 30px;
color: #98F5F5;
background-color:#D1D2D2;
margin-left: 5px;}

.footer{width: 100%;
height:20px;
background-color:#444;
display: flex;}