*{margin: 0;
	box-sizing: border-box;
}
body{background: url(/img/素材/texture-1387126_960_72調淡.jpg);
background-size: cover;
background-color: rgba(255, 255, 255,0.1);
background-attachment: fixed;
}

.hr { width: 50%;
height: 20px;
background-color:rgb(122,227,252);
margin:0 auto;
line-height: 300px;
margin-top: 100px;
margin-bottom: 100px;
}

.top{width: 100px;
height: 100px;
border-radius:50%;
background-color:#000;
text-align: center;
z-index: 555;
color: #fff;
font-size: 50px;
position: absolute;
right: 0;
}

.all{width:100%;
display: flex;
align-content: flex-start;
justify-content:space-between;
flex-wrap:wrap;
}

.search{width: 200px;
height: 50px;
margin: 15px;
display: flex;
justify-content:space-between;
background-color: #fff;
}

#icon{width: 50px;
height: 100%;
background-color:#7F4F21 ;
font-size: 40px;
text-align: center;
color: #fff;
}

.logo{width: 400px;
height: 300px;
background-image: url(img/logo.gif);
background-size: cover;
}
.Shoppingcartbutton{width:200px;
height: 50px;
margin: 15px;
display: flex;
justify-content:space-between;

}
#car_icon{width: 50px;	
height: 50px;
background-color:#7F4F21 ;
font-size: 40px;
text-align: center;
color: #fff;
}

#buts{width: 100%;
font-style: '微軟正黑體';
display: flex;
justify-content: space-evenly;
}
.but1 {color: rgb(190, 149, 99);
 padding:5px; 
font-size: 20px;
}
.but2 {color: rgb(190, 149, 99);
padding:5px;
font-size: 20px;
}
.but3{color: rgb(190, 149, 99);
padding:5px; 
font-size: 20px;}
.but4 {color: rgb(190, 149, 99);
padding:5px; 
font-size: 20px;}
.but5{color: rgb(190, 149, 99);
padding:5px; 
font-size: 20px;}
.but6 {color: rgb(190, 149, 99);
padding:h45px; 
font-size: 20px;}
.but7 {color: rgb(190, 149, 99);
 padding:5px; 
 font-size: 20px;}
.but8 {color: rgb(190, 149, 99);
 padding:5px;
 font-size: 20px; }


.theme_1 h1{
font-style: "微軟正黑體";
text-align:center;
color: rgb(127, 79, 33);
line-height: 100px;
font-size: 50px;
}
.theme_photo{width: 60%;
height: 600px;
border: solid 1px;
margin: 0 auto;
}

.subtitle_1 h3{text-align: center;
line-height:80px;
font-size:35px;
color:rgb(255,255,120);
}

ul {text-align: justify;
text-align: center;
list-style-type: none;
line-height: 60px;
font-size: 20px;	
color:rgb(255,255,255);
}
	
.theme_2 h1{text-align:center;
color: rgb(127, 79, 33);
line-height: 100px;
font-size: 50px;
font-style: "微軟正黑體";
}
.box{width: 70%;
height: 400px;
background-color:#f22;
margin: 0 auto;
background-color: rgb(46, 156, 213);
}
.subtitle_2_1 {display:flex;
flex-direction:row;
justify-content: center; 
}
.subtitle_2_1 hr{ 
height:5px;
border:none;
border-top:5px ridge green;
width:10px;
}

.subtitle_2_1 h3{text-align: center;
line-height:80px;
font-size:35px;
color:rgb(255,255,120);
}

.box_1{width: 50%;
height:340px;
background-color:#111;
float: left;
background-image: url(/img/素材/糖果/images.jpg);
background-size: cover;			
}

.box p{margin-left: 100px;
}
.box_2{
width: 50%;
height:340px;
background-color:#111;
float: right;
background-image: url(/img/素材/童玩/8099461078_6e47dd5e30_b.jpg);
background-size: cover;			
}
.box h3{margin-left: 100px;
color: #DB0012;}
.box span{margin-left:50px ;
color: #fff;}
	
	
.all_00{width: 80%;height: 900px;
margin: 0 auto;
display: flex;
flex-direction: row;
flex-wrap:wrap;
justify-content: space-around;
}
.theme_3 h1{
text-align:center;color: rgb(127, 79, 33);
line-height: 100px;
font-size: 50px;
font-style: "微軟正黑體";
}


.product{width:30%;
height:40%;
background-color:#777;
}
.pic_01{width:100%;
height:70%;
background-color:#258;
}
.pic01_under{width: 100%;
height: 30%;
background-color: #654;
display: flex;
flex-direction: row;
justify-content: center;
}

.buy{width:100px;
height:50px;
color:rgb(244, 245, 247);
font-size: 40px;
text-justify: auto;
margin-top: 7px;
color: rgb(34, 161, 56);}
.price{width:100px;
height:50px;
color:rgb(0, 149, 222);
font-size: 20px;
margin-top: 25px;
text-justify: auto;
}

.theme_4 h1{
text-align:center;
color: rgb(127, 79, 33);
line-height: 100px;
font-size: 50px;
font-style: "微軟正黑體";
}

.all_11{width: 80%;height: 900px;
margin: 0 auto;
display: flex;
flex-direction: row;
flex-wrap:wrap;
justify-content: space-around;
}
.product_02{width:30%;
height:40%;
background-color:#777;
}
.pic_02{width:100%;
height:70%;
background-color:#258;
}
.pic01_under{width: 100%;
height: 30%;
background-color: #654;
display: flex;
flex-direction: row;
justify-content: center;
}
		
.buy_02{width:100px;
height:50px;
color:rgb(244, 245, 247);
font-size: 40px;
text-justify: auto;
margin-top: 7px;
color: rgb(34, 161, 56);
}
.price_02{width:100px;
height:50px;
color:rgb(244, 245, 247);
font-size: 20px;
margin-top: 25px;
text-justify: auto;
color:rgb(0, 149, 222);
}

.theme_5 h1{text-align:center;
color: rgb(127, 79, 33);
line-height: 100px;
font-size: 50px;
font-style: "微軟正黑體";
}
.filmArea{width:80%;
height: 800px;
background-color:#655;
margin: 0 auto;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
}
.filmArea .film1{width: 50%;
height:45%;
background-color:#354;
margin-top:25px ;
}
.filmArea .film2{width: 50%;
height:45%;
background-color:#354;
margin-top:25px ;
}
.filmArea .film3{width: 50%;
height:45%;
background-color:#354;
}
.filmArea .film4{width: 50%;
height:45%;
background-color:#354;
}
		
		
.theme_6 h1{text-align:center;
color: rgb(127, 79, 33);
line-height: 100px;
font-size: 50px;
font-style: "微軟正黑體";
}
.data{width: 80%;
height:600px;
margin: 0 auto;
}

.data .up{width: 100%;
height:50%;
display: flex;
justify-content:space-around;
}

.data .under{width: 100%;
height: 50%;
display: flex;
flex-direction: row;
flex-wrap: wrap;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.data .up .lineqr{width:30%;
height: 100%;
background: url(/img/素材/qr/line.png);
background-size: cover;
}
.up .phone{width: 70%;
height: 100%;
color: #fff;
display: inline-block;
}
.phone h3{
font-size: 35px;
margin-left: 20%;
margin-top: 20px;
color:rgb(255,255,120);
}
.phone span{font-size: 35px;
margin-left: 50%;
color: rgb(132,255,31);
}
.phone p{font-size: 30px;
margin-left: 50%;
color: rgb(132,255,31);
}
.under .FanNet{width: 70%;
height: 100%;
}


.data .under .fbqr{width: 30%;
height: 100%;
background: url(/img/素材/qr/fb\ \(1\).png);
background-size: cover;
}

.under h3{
font-size: 30px;
margin-left: 20%;
margin-top: 20px;
color:rgb(255,255,120);
}
.under span{font-size: 40px;
margin-left: 50%;
color: rgb(132,255,31);
}

.businesshours{width:80%;
height:200px;
background-color:#258;
margin:0 auto;
}

.business{width:100%;
height:100%;
background-color:rgb(207, 213,0);
display: flex;
flex-direction: row;
justify-content: space-evenly;
}
.business h3{margin-left:100px;
line-height: 50px;
writing-mode: vertical-lr;
letter-spacing: 5px;
margin-top: 30px;
color: rgb(190,149,99);
font-size: 30px;
}
 .business span{font-size: 40px;
margin-top: 60px;
color: rgb(126,49,131);
}

.theme_7 h1{text-align:center;
color: rgb(127, 79, 33);
line-height: 100px;
font-size: 50px;
font-style: "微軟正黑體";
}


.commonproblem{
width:80%;
height:200px;
display: flex;
margin:0 auto;
background: linear-gradient(100deg, rgba(207, 213, 0, 1)23%, rgba(182, 207, 128, 1)60%); 
background: -moz-linear-gradient(100deg, rgba(207, 213, 0, 1)23%, rgba(182, 207, 128, 1)60%); 
background: -webkit-linear-gradient(100deg, rgba(207, 213, 0, 1)23%, rgba(182, 207, 128, 1)60%); 
background: -o-linear-gradient(100deg, rgba(207, 213, 0, 1)23%, rgba(182, 207, 128, 1)60%); 
border:solid 1px #000;
}
.commonproblem .l{
width:10%;
height:200px;
color:rgb(190, 149, 99);
writing-mode: vertical-lr;
text-align: center;
display: flex;
justify-content: center;
font-size: 30px;
}

.commonproblem .r{width: 90%;
height:200px;
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: space-around;
text-align: center;
}
.commonproblem .r h4{color:rgb(64, 34, 15);
}
.commonproblem .r span{
	color: rgb(0, 134, 58);
font-size:20px;
}
.freight{width:80%;
height:200px;
background: linear-gradient(100deg, rgba(207, 213, 0, 1)23%, rgba(182, 207, 128, 1)60%); 
background: -moz-linear-gradient(100deg, rgba(207, 213, 0, 1)23%, rgba(182, 207, 128, 1)60%); 
background: -webkit-linear-gradient(100deg, rgba(207, 213, 0, 1)23%, rgba(182, 207, 128, 1)60%); 
background: -o-linear-gradient(100deg, rgba(207, 213, 0, 1)23%, rgba(182, 207, 128, 1)60%); 
display: flex;
margin:0 auto;
border:solid 1px #000;
}

.freight .l{width:10%;
height:200px;
font-size: 30px;
color:rgb(190, 149, 99);
writing-mode: vertical-lr;
display: flex;
justify-content: center;
}

.freight .r{width: 90%;
height:200px;
text-align: center;
}

.freight .r span{
display: inline-block;
margin-top: 90px;
color: rgb(0, 134, 58);
font-size:30px;
}
.freight .r p{color:rgb(132, 184, 31);
font-size: 20px;
}
.meansoftransaction{width:80%;
height:200px;
background: linear-gradient(100deg, rgba(207, 213, 0, 1)23%, rgba(182, 207, 128, 1)60%); 
background: -moz-linear-gradient(100deg, rgba(207, 213, 0, 1)23%, rgba(182, 207, 128, 1)60%); 
background: -webkit-linear-gradient(100deg, rgba(207, 213, 0, 1)23%, rgba(182, 207, 128, 1)60%); 
background: -o-linear-gradient(100deg, rgba(207, 213, 0, 1)23%, rgba(182, 207, 128, 1)60%); 
display: flex;
margin:0 auto;
border:solid 1px #000;
}

.meansoftransaction .l{width:10%;
height:200px;
font-size: 30px;
color:rgb(190, 149, 99);
writing-mode: vertical-lr;
display: flex;
justify-content: center;
}

.meansoftransaction .r{width: 90%;
height:200px;
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: space-around;
text-align: center;
}
.meansoftransaction .r h4{color:rgb(64, 34, 15);
}
.meansoftransaction .r span{
	color: rgb(0, 134, 58);
font-size:20px;}
.defect_situation{width:80%;
height:200px;
background: linear-gradient(100deg, rgba(207, 213, 0, 1)23%, rgba(182, 207, 128, 5)60%); 
background: -moz-linear-gradient(100deg, rgba(207, 213, 0, 1)23%, rgba(182, 207, 128,5)60%); 
background: -webkit-linear-gradient(100deg, rgba(207, 213, 0, 1)23%, rgba(182, 207, 128,5)60%); 
background: -o-linear-gradient(100deg, rgba(207, 213, 0, 1)23%, rgba(182, 207, 128, 5)60%); 
display: flex;
margin:0 auto;
border:solid 1px #000;
}

.defect_situation .l{width:10%;
height:200px;
font-size: 30px;
color:rgb(190, 149, 99);
writing-mode: vertical-lr;
display: flex;
justify-content: center;}

.defect_situation .r{width: 90%;
height:200px;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
}
.defect_situation .r {
	color:rgb(64, 34, 15);
font-size:30px;
}

.traffic{width: 100%;
height:500px;
background-color:rgb(237, 171, 45);
position: absolute;
}

.traffic .theme_8 h1{
color: #7F4F21;
line-height: 100px;
font-size: 50px;
text-align:center;
font-style: "微軟正黑體";
}

.traffic .theme_8 h3{font-size:50px;
}

.traffic .theme_8 p{color:#1D2080;
font-size: 30px;
line-height: 50px;
}

.map{width: 40%;
height:500px;
background-color:#000;
position: relative;
float:right;
}

.footer{width: 100%;
height:20px;
background-color:rgb(223, 85, 20);
display: flex;
}
@media screen and (max-width: 900px) {
	.more{font-size: 50px;
		display: none;}
	
}
@media screen and (max-width: 900px) {
	.search {display: none;
	   } 
	.logo{margin: 0 auto;}
 
   .Shoppingcartbutton {
	   display: none;
   }
   #icon{display: block;}
  
   #car_icon{display: block;
}
	
	.more{font-size: 50px;
	display: block;}


}

		
